:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./assets/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
}


.Card-Container{
  border-radius: 11px;
  border: 2px solid #000;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 41vh;
  width: 40vw;
}

.Card-Container[data-difficulty="easy"] {
  background-color: #CADF9E;
}

.Card-Container[data-difficulty="medium"] {   
  background-color: #FFCF00;
}

.Card-Container[data-difficulty="hard"] {
  background-color: #FF7F50;
}

.difficulty-indicator{
  position: absolute;
  height: 38vh;
  width: 38vw;
  border-radius: 10px;
  border: 2px solid #000;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e1bf82;
}

.Flash-Card{

  display: flex;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  align-items: center;
  justify-content: center;
}

.Flash-Card.flipped{
  transform: rotateY(180deg);
}

.Flash-Card-Question, .Flash-Card-Answer{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 1rem;

}

.Flash-Card-Question {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  transform: rotateY(0deg);
}


.Flash-Card-Answer {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  transform: rotateY(180deg);
}

.Flash-Card-Answer img{
  opacity: 0.5;
  border-radius: 10px;
    border: 2px solid #000;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.Flash-Card-Answer h2 {
  position: absolute;

}

.button-container{
  display: flex;
  width: 100%;
  margin-top: 0.5rem;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.next-button{
  margin-right: 10%;
}

.previous-button{
  margin-left: 10%;
}


.next-button, .previous-button{
  width: 20%;
  font-size: 2rem;
  border-radius: 10px;
  cursor: pointer;
  background-color:#e1bf82;
  border: 2px solid #000;
  transition: all 0.2s ease-in-out;
  padding: 0.5rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.next-button:hover, .previous-button:hover {
  transform: scale(1.05);
}

.flag-container{
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 90%;
}

.flag-image{
  border-radius: 10px;
    border: 2px solid #000;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

